.button--contact {
    padding: $padding-small;
    border: none;
    border-radius: $border-radius;
    background-color: $color2;
    font-weight: $font-weight-bold
}

.button--pricing {
    @extend .button--contact;
    
    margin-top: 1rem;
}