.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: $padding-medium 0;
    padding-right: $padding-medium;
    background-color: $color1;
    font-size: 1.4rem;

    > ul {
        margin-bottom: $padding-small;
        display: flex;
        justify-content: flex-end;
    }

    &__link {
        list-style: none;
        margin-left: $padding-medium;
    }

    &__copyright {
        margin-bottom: $padding-small;
    }

    a {
        color: $color-dark;
        font-weight: $font-weight-bold;
    }
}