* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

.body {
  background-color: #FFF;
}

.header {
  width: 100%;
  height: 6vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  background-color: #FFF;
}

.icon-menu {
  cursor: pointer;
}

.icon-tick,
.icon-plane,
.icon-star {
  font-size: 4rem;
  margin-right: .5rem;
  color: #FF8C00;
}

.logo {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo--navbar {
  width: 100%;
  height: 80%;
}

.navmenu {
  position: relative;
}

.navmenu i {
  margin-right: 1.5rem;
}

.navmenu ul {
  display: none;
  width: 10.5rem;
  padding: 1rem;
  position: absolute;
  top: 2.5rem;
  right: -20rem;
  list-style: none;
  background-color: #EEE;
}

.navmenu ul li {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navmenu__section {
  font-size: 1.4rem;
  text-align: end;
  text-decoration: underline;
  color: #000;
}

.navmenu:focus, .navmenu:hover, .navmenu:active {
  color: #FF8C00;
}

.navmenu:focus ul, .navmenu:hover ul, .navmenu:active ul {
  display: block;
  right: 1rem;
}

.contact {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__email {
  margin-bottom: 1.2rem;
  padding: 0.5rem;
  border: 0.1rem solid #000;
  border-radius: 0.3rem;
}

.title--contact {
  font-weight: 900;
}

.title--features {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

.title--pricing {
  width: 100%;
  text-align: center;
  line-height: 3rem;
  background-color: #EEE;
  font-size: 1.8rem;
  font-weight: 900;
}

.button--contact, .button--pricing {
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #F1C40F;
  font-weight: 700;
}

.button--pricing {
  margin-top: 1rem;
}

.features {
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
}

.features > div {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__info {
  font-size: 1.4rem;
}

.pricing {
  width: 90%;
  margin: 0 auto;
  font-size: 1.4rem;
}

.pricing__box {
  margin: 3rem 0;
  padding-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.1rem solid #000;
  border-radius: 0.3rem;
}

.pricing__price {
  margin: 1.5rem 0;
  font-size: 2.5rem;
  font-weight: 700;
}

.pricing__info {
  margin-bottom: 0.5rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 1.5rem 0;
  padding-right: 1.5rem;
  background-color: #EEE;
  font-size: 1.4rem;
}

.footer > ul {
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__link {
  list-style: none;
  margin-left: 1.5rem;
}

.footer__copyright {
  margin-bottom: 0.5rem;
}

.footer a {
  color: #000;
  font-weight: 700;
}

.video {
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
}

.video__embededfile {
  width: 100%;
}
/*# sourceMappingURL=index.css.map */