* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

.body {
  background-color: #FFF;
}

.header {
  width: 100%;
  height: 6vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  background-color: #FFF;
}

.icon-menu {
  cursor: pointer;
}

.icon-tick,
.icon-plane,
.icon-star {
  font-size: 4rem;
  margin-right: .5rem;
  color: #FF8C00;
}

.logo {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo--navbar {
  width: 100%;
  height: 80%;
}

.navmenu {
  position: relative;
}

.navmenu i {
  margin-right: 1.5rem;
}

.navmenu ul {
  display: none;
  width: 11rem;
  padding: 1rem;
  position: absolute;
  top: 2.5rem;
  right: -20rem;
  list-style: none;
  background-color: #FF8C00;
}

.navmenu ul li {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navmenu__section {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: end;
  text-decoration: underline;
  color: #000;
}

.navmenu:focus, .navmenu:hover, .navmenu:active {
  color: #FF8C00;
}

.navmenu:focus ul, .navmenu:hover ul, .navmenu:active ul {
  display: block;
  right: 1rem;
}

.contact {
  padding: 3rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__email {
  margin-bottom: 1.2rem;
  padding: 0.5rem;
  border: 0.1rem solid #000;
  border-radius: 0.3rem;
}

.title--contact {
  font-weight: 900;
}

.title--features {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

.title--pricing {
  width: 100%;
  text-align: center;
  line-height: 3rem;
  background-color: #EEE;
  font-size: 1.8rem;
  font-weight: 900;
}

.button--contact, .button--pricing {
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #F1C40F;
  font-weight: 700;
  color: #000;
}

.button--pricing {
  margin-top: 1rem;
}

.button--pricing a {
  color: #000;
}

.features {
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
}

.features > div {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__info {
  font-size: 1.4rem;
}

.pricing {
  width: 90%;
  margin: 0 auto;
  font-size: 1.4rem;
}

.pricing__box {
  margin: 3rem 0;
  padding-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.1rem solid #000;
  border-radius: 0.3rem;
}

.pricing__price {
  margin: 1.5rem 0;
  font-size: 2.5rem;
  font-weight: 700;
}

.pricing__info {
  margin-bottom: 0.5rem;
  text-align: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 1.5rem 0;
  padding-right: 1.5rem;
  background-color: #EEE;
  font-size: 1.4rem;
}

.footer > ul {
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__link {
  list-style: none;
  margin-left: 1.5rem;
}

.footer__copyright {
  margin-bottom: 0.5rem;
}

.footer a {
  color: #000;
  font-weight: 700;
}

.video {
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
}

.video__embededfile {
  width: 100%;
}

@media screen and (min-width: 411px) {
  .video {
    width: 70%;
  }
  .pricing {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.8rem;
  }
  .logo {
    width: 50%;
    height: 70%;
  }
  .navmenu i {
    display: none;
  }
  .navmenu ul {
    width: auto;
    padding: 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    right: 0;
    background-color: #FFF;
  }
  .navmenu li {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }
  .navmenu__section {
    font-size: 1.8rem;
    text-decoration: none;
  }
  .navmenu:focus ul, .navmenu:hover ul, .navmenu:active ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 0;
  }
  .title--contact {
    font-size: 3.5rem;
  }
  .contact__email {
    font-size: 1.8rem;
  }
  .button--contact, .button--pricing {
    font-size: 1.8rem;
  }
  .features {
    width: 70%;
  }
  .features > div {
    padding: 2rem 0;
  }
  .features__info {
    font-size: 1.8rem;
  }
  .title--features {
    font-size: 2.5rem;
  }
  .icon-tick,
  .icon-plane,
  .icon-star {
    font-size: 7rem;
  }
  .video {
    width: 70%;
    height: 50rem;
    padding: 0;
  }
  .video__embededfile {
    height: 100%;
  }
  .pricing {
    width: 90%;
    margin: 5rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    font-size: 1.8rem;
  }
  .pricing__box {
    width: 30%;
  }
  .pricing__price {
    font-size: 3rem;
  }
  .pricing__info {
    margin-bottom: 1.5rem;
  }
  .footer {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    height: 15vh;
  }
  .logo {
    width: 50%;
  }
}
/*# sourceMappingURL=index.css.map */